/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 23, 2022, 10:01:48 PM
    Author     : Tan Lin Yi
*/

.vh-100{
    margin-left: 150px;
    margin-bottom:20px;
   
}
.nikeLogoUser{
    height: 80px;
    width:180px;
    
}