/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 23, 2022, 1:02:47 PM
    Author     : Tan Lin Yi
*/


#img{
    width:250px;
    height:250px;
}




